[user]
	name = Leandro Cardoso
	email = leandrocardoso@gmail.com
[core]
	editor = emacs
	excludesFile = ~/dotfiles/git/ignore
	autocrlf = input
[diff]
	tool = emerge
[merge]
	tool = emerge
    conflictStyle = diff3
[credential]
	helper = cache --timeout=86400
[credential "https://github.com"]
	username = LeandroCardoso
[remote]
	pushDefault = origin
[pull]
	rebase = merges
[includeIf "gitdir:rdi/"]
	path = ~/dotfiles/git/rdi.config
