[user]
	name = Leandro Cardoso
	email = leandrocardoso@gmail.com

[merge]
	tool = emerge
    conflictStyle = diff3

[diff]
	tool = emerge

[core]
	editor = emacs

[credential]
	helper = cache --timeout=86400
	username=LeandroCardoso
